.Employee {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    box-shadow: 0 3px 4px #bbbbbb;
    padding: 12px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.Employee:hover {
    background-color: #efefef;
}